*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #517DFF;
  position: relative;
}

header {
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

main {
  height: 100%;
  width: 50%;
}

aside {
  height: 100%;
  width: 50%;
}

section.background {
  height: 100%;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
}